html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
}


section {
  width: 100%;
  display: inline-flex;
  flex-direction: vertical;
}

.header {
  padding: 0% 10% 0% 10%;
  justify-content: center;

}

.foto {
  width: 50%;
  position: relative;
  border-radius: 15%;
  float: right;
  

}

.foto img {
  float: right;
  width: 100%;
  height: auto;
}

.header .reisanld {
  width: 50%;
  float: left;
  display: block;
}

.header .reisanld h1 {
  font-size: 9vw;
  width: 100%;
  letter-spacing: 0;
  --b: 0.1em;
  /* the thickness of the line */
  --c: #22303d;
  /* the color */
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
  color: #000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .1s var(--_s, 0s) linear, background-size .2s calc(.3s - var(--_s, 0s));
}

.header .reisanld h1:hover {
  --_p: 100%;
  --_s: .1s;
}

.appdev span {
  font-size: 2vw;
  letter-spacing: 0;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

.header .reisanld .appdev .bold {
  font-weight: bold;
  width: auto;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

.below {
  display: flex;
  width: 100%;
  padding-top: 50px;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.below img {
  width: auto;
  height: auto;
  TRANSFORM: SCALE(1.5);
}

.below a {
  margin: 2%;
}

.half {
  border: 1px solid #22303d;
  width: 50%;
  float: left;
  margin-right: 0;
}

.halfright {
  border: 1px solid #22303d;
  width: 50%;
  float: right;
  margin-left: 0;
}

.portofolio{
  padding-top: 20PX;
  background-color: #22303d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portofolio h1{
  color: white;
}
.three{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#container{
  width: 350px;
}
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
  float: left;
  margin: 2rem;
  padding-top: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit:scale-down;
}

.card-content {
  padding: 1rem;
}
.card h2{
  font-size: 1.5rem;
}
.card-content h2 {
  margin: 0 0 0.5rem;
}

.card-content p {
  margin: 0 0 1rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%;
}

.btn:hover {
  background-color: #0056b3;
  color: #fff;
}
.about{
  background-image: url("https://vzgczkqwlzrxxpubqweb.supabase.co/storage/v1/object/sign/FOTO/5328478.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJGT1RPLzUzMjg0NzguanBnIiwiaWF0IjoxNzIxODgzMzAxLCJleHAiOjQ4NzU0ODMzMDF9.PXWDQkoMh38LgU786ArL7ZGGil-t1dnqgIlD3tqZhTk&t=2024-07-25T04%3A55%3A01.204Z");
}
.aboutt{
  padding: 50px;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(10px) saturate(70%);
}
.about h1{
  font-size: 5rem;
}
.about h2{

  font-size: 1.5rem;
}
.box2{
  width:70%;
}

.box{
  margin-right: 10%;
  margin-left: 10%;
  height: 200px;
  width: 200px;
}


.about img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  
}

.footer {
  background: #22303d;
  background: linear-gradient(188deg, #22303d 13%, rgba(78, 77, 85, 1) 100%);
  justify-content: center;
  align-items: center;
  display: block;
}

.footer h6 {
  color: #ffffff;
  text-align: center;
  padding: 3%;
  text-decoration: none;
  margin-bottom: 0;
}

.footer img {
  width: auto;
  height: auto;
  justify-content: center;

}

.footer a img {
  width: 3.5vh;
  height: auto;
  margin: 20px;
  margin-bottom: 0;
}
@media (max-width:1200px) {
  .three{
    flex-direction: column;
    align-items: center;
  }
  #container{
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left:10% ;
  }
  .card{

    width: 75%;
  }

}
@media (max-width: 700px) {

  .header ,
  .appdev,
  .coll2 {
    width: 100%;
    float: none;

  }
  .reisanld{
    z-index: 10;
    position: absolute;
    top: 12.5%;
  }
  .foto,
  .coll1 {
    width: 100%;
  }
  .foto img {
    opacity: 0.7;
  }
  .coll2 h2 {
    font-size: 3vw;
  }

  .appdev span {
    font-size: 4vw;
  }

  .row .column {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .progress-container .text{
    font-size: 3vh;
    width: 75%;
  }
  .aboutt{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  
  .aboutt h1{
    padding-top: 20px;
    text-align: center;
    font-size: 2.5rem;
  }
  
  .aboutt h2{
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
  }
  .box2{
    width:90%;
  }
  .card{
    margin-left: 5%;
    width: 90%;
  }
  
}

