@font-face {font-family: adam;	src:url('Adam-Bold.ttf');}
body{
	font-family:  adam;
	margin: 0;
}
h2{
	text-align: center;
	font-size:5vw;
	padding: 1%  0;
	margin: 10vh;
	background: rgb(175,175,175);
	background: radial-gradient(circle, rgba(175,175,175,0.5718662464985995) 0%, rgba(149,149,149,0) 55%);
}
.reisanld h1{
	
	font-size:12.36vw;
	line-height: 0.8em;
	
}

.reisanld{
	width: 50%;
	float: left;
	clear: both;

}
.navbar {
  background-color: lightgrey;
  margin: 0px;
  color: #ffffff;
  height: auto;
  width: 100%;
  position: fixed;
}
.navbar h3 {
  font-size: 25px;
  margin: 0%;
  float: right;
  padding-top: 10px;
  padding-right: 4.1%;
  height: 100%;
}
.navbar a {
  margin-left: 45px;
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: 200;
}
.navbar a:hover {
  color: grey;
}
.header img{
	width: 30%;
	height: auto;
	margin-left: 20%;
	/*border-radius: 25%;*/
	
	
}
.header{
	opacity: 0;
	margin: 0%;
	width: auto;
	margin-bottom: 5%;
	
}
.about{
	opacity: 0;
	padding-top: 2%;
	margin-top: 5%;
	margin: auto;
	width: 90%;
	height: auto;
	font-size:2.5vw;
	text-align: center;
	margin-bottom: 2%;
}
.skill{
	opacity: 0;
	padding-top: 2%;
	margin-bottom: 2%;
}
.skilli{
	

}
.skilli img{
	width: 10%;
	margin: 0 5%;
}
.img1 {
	text-align:center;
   
	
  }
  

.work{
	
	padding-top: 2%;
	display: block;
	width: 100%;
	height: auto;
}
.work a{
	text-decoration: none;
	color: black;
}
.scroll {
 	overflow: auto;
	cursor: grab;
 	white-space: nowrap;
	max-height: 42vh;
	padding: 0 1%;
}
/* .scroll img{
	
	margin: 1% 2.5%;
} */

.portrait{
	width: 10%;
}
.landscapee{
	width: 26.5%;
	
}
.landscape{
	width: 31.5%;
	
}
.square{
	width: 	17.8%;
}

.portrait :hover{
	width: 12%;
}
.landscapee:hover{
	width: 28.5%;
	
}
.landscape:hover{
	width: 33.5%;
	
}
.square:hover{
	width: 	19.8%;
}
.uasmcs{
	text-align: center;
	padding-top: 1%;
	background: rgb(175,175,175);
	background: linear-gradient(180deg, rgba(175,175,175,1) 49%, rgba(149,149,149,0) 100%);
	border-radius:2.5%;
	width: 90%;
	margin: auto;
	padding-bottom: 2%;
	
}

.footer{
	text-align: center;
	font-size: 2.5vh;
	background-color: lightgrey;
	padding: 2% 0;
}
.footer h6{
	margin: 0;
}