html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  margin: 0;
}

img {
  height: 50px;
}

section {
  width: 100%;
}

.header {
  padding: 0% 10% 0% 10%;
  justify-content: center;

}

.foto {
  width: 50%;
  position: relative;
  border-radius: 15%;
  float: right;
  

}

.foto img {

  float: right;
  width: 100%;
  height: auto;
}

.header .reisanld {
  width: 50%;
  float: left;
  display: block;
}

.header .reisanld h1 {
  font-size: 9vw;
  width: 100%;
  letter-spacing: 0;
  --b: 0.1em;
  /* the thickness of the line */
  --c: #22303d;
  /* the color */
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
  color: #000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .1s var(--_s, 0s) linear, background-size .2s calc(.3s - var(--_s, 0s));
}

.header .reisanld h1:hover {
  --_p: 100%;
  --_s: .1s;
}

.appdev span {
  font-size: 2vw;
  letter-spacing: 0;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

.header .reisanld .appdev .bold {
  font-weight: bold;
  width: auto;
  text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

.below {
  display: flex;
  width: 100%;
  padding-top: 50px;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.below img {
  width: auto;
  height: auto;
  TRANSFORM: SCALE(1.5);
}

.below a {
  margin: 2%;
}

.half {
  border: 1px solid #22303d;
  width: 50%;
  float: left;
  margin-right: 0;
}

.halfright {
  border: 1px solid #22303d;
  width: 50%;
  float: right;
  margin-left: 0;
}

.aboutme {
  background: #22303d;
  padding: 5% 10%;
  color: #ffffff;
}

.aboutme img {
  float: left;
  width: inherit;
  height: auto;
  margin-right: 10px;
}

.twocoll {
  width: 100%;
  height: auto;
  display: flex;
}

.coll1 {
  width: 50%;
  float: left;
  height: 100%;
  display: flex;

}

.coll2 {
  width: 50%;
  float: right;
  display: flex;
  height: auto;

}

.coll1 h2,
.coll2 h2 {
  width: 100%;
  display: flexbox;
  font-size: 1.5vw;
  padding-left: 10px;
}

.experience {
  padding: 5% 10%;
  color: #22303d;
}

.footer {
  background: #22303d;
  background: linear-gradient(188deg, #22303d 13%, rgba(78, 77, 85, 1) 100%);
  justify-content: center;
  align-items: center;
}

.footer h6 {
  color: #ffffff;
  text-align: center;
  margin-top: 2%;
  padding: 3%;
  text-decoration: none;
  margin-bottom: 0;
}

.footer img {
  width: auto;
  height: auto;
  justify-content: center;

}

.footer a img {
  width: 3.5vh;
  height: auto;
  margin: 20px;
  margin-bottom: 0;
}

@media (max-width: 600px) {

  .header ,
  .appdev,
  .coll2 {
    width: 100%;
    float: none;

  }
  .reisanld{
    z-index: 10;
    position: absolute;
    top: 12.5%;
  }
  .foto,
  .coll1 {
    width: 100%;
  }

  .coll2 h2 {
    font-size: 3vw;
  }

  .appdev span {
    font-size: 4vw;
  }

  .row .column {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .progress-container .text{
    font-size: 3vh;
    width: 75%;
  }
}


hr {
  background: #ffffff;
}

.test {
  width: 100%;
  display: block;
}

.wrapper {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 50px 0;

  display: flex;
  flex-direction: row;

  transition: all 200ms ease-in-out;
}

.image-wrapper {
  height: 300px;
  width: 450px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;

  transition: all 200ms ease-in-out;
}



.book-design-image {
  object-position: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 60%;
  width: 65%;
  left: 60%;
  transition: all 200ms ease-in-out;
  overflow: hidden;

}

.experience .wrapper .header-wrapper2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 60%;
  width: 65%;
  left: 61%;
  top: -5px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.experience .wrapper .header-wrapper2 h1 {
  color: #ffffff;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #22303d;
}

.experience .wrapper h1 {
  position: relative;
  bottom: 0;
  height: 300px;
  color: #bdc3c7;
  font-size: 80px;
  text-transform: uppercase;

  transition: all 200ms ease-in-out;
}


.wrapper:hover h1 {
  bottom: 300px;
  transform: scale(.4);
}

.wrapper:hover .image-wrapper {
  width: 800px;
  opacity: 0.8;
}

.column {
  float: left;
  width: 33.33%;

  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@property --progress-value {
  syntax: '<integer>';
  inherits: false;
  initial-value: 0;
}

@keyframes webdev-progress {
  to {
    --progress-value: 80;
  }
}

@keyframes mobiledev-progress {
  to {
    --progress-value: 90;
  }
}

@keyframes db-progress {
  to {
    --progress-value: 70;
  }
}

.progress-container:after {
  content: "";
  display: table;
  clear: both;
}

.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  float: left;
}

.text {
  width: 65%;
  float: left;
  font-size: 2vh;
  text-align: left;
  padding-left: 10px;
}

.webdev {
  background:
    radial-gradient(closest-side, #22303d 79%, transparent 80% 100%),
    conic-gradient(rgb(52, 105, 219) calc(var(--progress-value) * 1%), #bdc3c7 0);
  animation: webdev-progress 2s 1 forwards;
}

.webdev::before {
  animation: webdev-progress 2s 1 forwards;
}

.mobiledev {
  background:
    radial-gradient(closest-side, #22303d 79%, transparent 80% 100%, white),
    conic-gradient(rgb(52, 105, 219) calc(var(--progress-value) * 1%), #bdc3c7 0);
  animation: mobiledev-progress 2s 1 forwards;
}

.mobiledev::before {
  animation: mobiledev-progress 2s 1 forwards;
}

.db {
  background:
    radial-gradient(closest-side, #22303d 79%, transparent 80% 100%, white 0),
    conic-gradient(rgb(52, 105, 219) calc(var(--progress-value) * 1%), #bdc3c7 0);
  animation: db-progress 2s 1 forwards;
}

.db::before {
  animation: db-progress 2s 1 forwards;
}

.column progress {
  visibility: hidden;
  width: 100px;
  height: 100px;
  margin: 50%;
}